* {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    margin: 0;
    ;
}

h1 {
    color: #c09bd8;
}

.header {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #c1121f;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

}

.getButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.getReadingBtn {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1121f;
    font-size: 20px;
    background-color: white;
    color: #c1121f;
    cursor: pointer;
}

.facedown {
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px gray;
    cursor: pointer;
    transition: transform 0.3s ease;
 
    position: relative;

}

.cardContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-top: 50px;
}

.facedown:hover {

    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 0 25px #c09bd8;
    z-index: 10;
   

}

/* CARD DETAIL JSX */

.card-detail {
   
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px grey;
}