* {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    margin: 0;
    ;
}



.header {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: #c1121f;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

}

.getButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.getReadingBtn {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1121f;
    font-size: 20px;
    background-color: white;
    color: #c1121f;
    cursor: pointer;
}

.facedown {
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px gray;
    cursor: pointer;
    transition: transform 0.3s ease;
 
    position: relative;

}

.cardContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-top: 50px;
}

.facedown:hover {

    transform: translateY(-20px) scale(1.05);
    box-shadow: 0 0 25px #c09bd8;
    z-index: 10;
   

}

/* CARD DETAIL JSX */
.container {

display: flex;

justify-content: space-evenly;
margin-top: 100px;



}
.card-detail {
text-align: center;
  padding: 40px;
  background: #fff2f7;
  color: #5e3353;
  font-family: 'Poppins', sans-serif;
  
}

.card-image {
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px grey;
  margin-bottom: 20px;
  
}

.sections p {
  max-width: 500px;
  color: #c1121f;
  font-weight: 400;

  
}

#cardname {
    text-align: center;
    color: #c1121f;
    font-weight: 400;
    font-size: medium;
  

}
h3 {
    text-align: center;
    font-weight: 800;
     color: #c1121f;

}

